.avion{
height: 80px;}




body
{
	width: 100%;

}

h1
{
	text-align: center;
}

p{
	margin-bottom: 0rem;
}

h2
{
	text-align: left;
}


strong
{
	color: red;
}

#esai
{
	display: box;
}

.custom-tn{
	
	width: auto;
	height: 350px;
	float: left;
	margin: 2px;
}
.tenfant
{
	margin-left: 1rem;
}
.teste1
{
	float: center;
}