html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,356aa0+100;Blue+Flat */
background: rgb(53,106,160); /* Old browsers */
background: -moz-linear-gradient(left, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 */

	color: #FFF
}

a:hover{
	text-decoration: none;
}

.header{
	background:#FFF;
	color:#fff;
	padding-top: 60px
}
.header .top-bar{
	position:relative;
	padding-top:25px;
	padding-bottom:120px
}

.header .profile-image{
	position:absolute;
	width:200px;
	height:200px;
	top:-100px;
	margin-left:-100px;
	left:50%
}
.header .name{
	font-size:48px;
	margin-top: 20px;
	margin-bottom:15px;
	letter-spacing:0.5px
}
.header .title{
	font-size:28px;
	font-weight:300;
	color:rgba(255,255,255,0.8);
	margin-bottom:30px
}
.header .intro{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf0404+0,ff3019+23,ff3019+44,ff3019+39;Red+3D */
background: #cf0404; /* Old browsers */
background: -moz-linear-gradient(left, #cf0404 0%, #ff3019 23%, #ff3019 44%, #ff3019 39%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #cf0404 0%,#ff3019 23%,#ff3019 44%,#ff3019 39%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #cf0404 0%,#ff3019 23%,#ff3019 44%,#ff3019 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=1 ); /* IE6-9 */
	padding-top:90px;
	padding-bottom:60px;
	position:relative;
	font-size:16px
}

#intro{
	padding-top: 2em;
	padding-bottom: 1em;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5
}