.row{
	margin-bottom: 15px;
	margin-top: 15px;
}

#header{
	background-color: #346684;
	height: 80px;
}

#tableau{
	background-color: #ECF0F1;
	margin-top: 80px;
}

#conclusion{
	background-color: #93AFB6;
}

p{
	font-size: 20px;
	color: #F8F8F9;
}

label{
	margin-bottom: 10px;
	margin-top: 10px;
}

#jobdep{
	margin-bottom: 10px;
}

#footer{
	background-color: #474571;
}

span{
	color: #F8F8F9;
}

#org{
	pull-right;
}

button{
	padding-top: 6px;
	padding-bottom: 0px;
}