html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,356aa0+100;Blue+Flat */
background: rgb(53,106,160); /* Old browsers */
background: -moz-linear-gradient(left, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 */

    color: #FFF
}

@font-face {
 font-family: "Alex Brush", "American Typewriter";
 src: url(http://fr.allfont.net/allfont.css?fonts=alex-brush), url(//db.onlinewebfonts.com/c/bf35ddaa105b41dd66cb2eb93424c588?family=American+Typewriter);
}	

h1, h2, h3, h4, h5{
	font-family: "Alex Brush";
}

#header{
	background-color: #346684;
	height: 80px;
}

#tableau{
	background-color: #ECF0F1;
}

p{
	font-size: 20px;
	font-family: "American Typewriter";
}

label{
	margin-bottom: 10px;
	margin-top: 10px;
}

#jobdep{
	margin-bottom: 10px;
}

span{
	color: #F8F8F9;
}


button{
	padding-top: 6px;
	padding-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5
}

hr{
	background-color: rgb(53,106,160);
	height: 5px;
	margin: 20px;
}

#logo{
	height: 300px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#imgmodal{
	width: 770px;
}

th{
	width: 200px;
}